<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOfficialFileService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64858/OfficialFileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOfficialFileService"
                contract="OfficialFileServiceReference.IOfficialFileService"
                name="BasicHttpBinding_IOfficialFileService" />
        </client>
    </system.serviceModel>
</configuration>